*.log
.vscode/
BridgeSimulationOpenMP/compiledSimulation
BridgeSimulationOpenMP/mockSimulation.py
BridgeSimulationOpenMP/mockData.npz
BridgeSimulationOpenMP/mockData.npy
BridgeSimulationOpenMP/mockData.bin
BridgeSimulationOpenMP/pressureData.bin
.venv/
